
<!DOCTYPE html>
<html>

<head>

</head>

<body>
    
    <form action="/buscar_tarjeta">
        <h2>Buscar una Tarjeta</h2>
        Escriba el numero de la tarjeta:
        <input type="text" name="tarjeta_buscada" />
        <button>Buscar</button>
    </form>

    <form action="/guardar_tarjeta" >
        <h2>Insertar una tarjeta</h2>
    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table>
        <!-- El elemento tr describe una fila de la tabla -->
        <tr>
            <!-- Cada elemento td corresponde a una celda dentro de la fila -->
            <td>Numero de Tarjeta</td>
            <td>
<input type="text" name="numero_tarjeta" />
            </td>
        </tr>
        <tr>
            <td>Cédula</td>
            <td>
                <input type="text" name="cedula" />
            </td>
        </tr>
        <tr>
            <td>Franquicia</td>
            <td>
                <input type="text" name="franquicia" />
            </td>
        </tr>

        <tr>
            <td>Fecha de Vencimiento</td>
            <td>
<input type="date" name="fecha_vencimiento" />

            </td>
        </tr>

        <tr>
            <td>Cupo</td>
            <td><input type="number" name="cupo" /></td>
        </tr>
        <tr>
            <td>Tasa Interés</td>
            <td><input type="number" name="tasa_interes" /></td>
        </tr>
        <tr>
            <td>Cuota Manejo</td>
            <td><input type="number" name="cuota_manejo" /></td>
        </tr>


    </table>

    <input type="submit" />
    </form>

    <p>
        Si es la primera vez que ejecuta esta aplicación, necesitará crear las tablas en la base de datos
        haciendo <a href="/crear_tablas">click aqui</a>
    </p>

</body>

</html>